.project-card{
    padding: 3em;
    text-align: justify;
}

.project-card h4{
    margin: 1px;
}

.languages{
    font-size: small;
    font-weight: 200;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.tools{
    font-size: small;
    font-weight: 200;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.text-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-image img{
    height: auto;
    width: auto;
    align-self: center;
    max-width: 100%;
    max-height: 50vh;
    display: block;
}


img#image\.\/portfolio\/project_images\/DiscordBot\.png{
    width: 50em;
    height: auto;
    margin-bottom: 20vh;
}